     <div class="box box-recommendations">
                <div class="list-recommendations">
                    <h3>Recommendations</h3>
                    <ul>
                        <li class="group-recommendations">
                            <div class="recommended-person">
                                <img src="/images/filler.jpg"/><p><a href="">Rigel Swavely</a> recommends a trip with the following destinations:</p>
                            </div>
                            <div class="recommended-destinations-list">
                                <ul>
                                    <li><a href="">Guam</a></li>
                                    <li><a href="">Panama</a></li>
                                    <li><a href="">Alabama</a></li>
                                    <li><a href="">Sacremento</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="recommended-person">
                                <img src="/images/filler.jpg"/><p><a href="">Max Scheiber</a> recommends a trip with the following destinations:</p>
                            </div>
                            <div class="recommended-destinations-list">
                                <ul>
                                    <li><a href="">San Francisco</a></li>
                                    <li><a href="">New York</a></li>
                                    <li><a href="">Pittsburgh</a></li>
                                    <li><a href="">New Mexico</a></li>
                                    <li><a href="">Niagara Falls</a></li>
                                </ul>
                            </div>
                        </li>
                                
                    </ul>
                </div>
            </div>
 

