<div class="box box-portrait">
    <img src="images/filler.jpg"/>
    <h3>Brian Shi</h3>
    <p>Joined December 5th, 2014</p>
    <div class="actions">
        <h4>Actions</h4>
        <ul>
            <li><a href="">Create Trip</a></li>
            <li><a href="">Create Destination</a></li>
            <li><a href="">Create Album</a></li>
        </ul>
    </div>
</div>
 
