<div class="box box-trips">
    <div class="list-trips">
        <h3>Trips</h3>
        <ul>
            <li><div><img src="images/filler.jpg"/><a href="">"Spring Break" (4-6-2013)</a></div></li>
            <li><div><img src="images/filler.jpg"/><a href="">"Honeymoon!" (8-24-2012)</a></div></li>
            <li><div><img src="images/filler.jpg"/><a href="">"I won Wheel of Fortune!" (1-1-2014)</a></div></li>
        </ul>
    </div>
</div>

