<div class="box box-destinations">
    <div class="list-destinations">
        <h3>Destinations</h3>
        <% for (var i = 0; i < destinations.length; i++) { %>

            <% if (i % 3 == 0) { %>
            <div class="row destinations-row">
            <% } %>

                <div class="col-md-4 column-destination">
                    <img src="/images/filler.jpg"/>
                    <a href="/destinations/<%= destinations[i].DID %>">
                        <p><%= destinations[i].NAME %></p>
                    </a>
                </div>

            <% if (i % 3 == 0) { %>
            </div>
            <% } %>

        <% } %>
    </div>
</div>


