<div class="box box-friends">
    <div class="list-friends">
        <h3>Friends</h3>
        <ul>
        	<% for (var i = 0; i < friends.length; i++) { %>
            	<li><div><img src="/images/filler.jpg"/><a href="/users/<%= friends[i] 
            	%>"><strong><%= friends[i] %></strong></a></div></li>
            <% } %>
        </ul>
    </div>
</div>

