<div class="box box-friends">
  <div class="list-friends">
      <h3>Comments</h3>
      <ul>
        <% for (var i = 0; i < comments.length; i++) { %>
            <li>
              <h4><%= comments[i].USERNAME %></h4>
              <% if (comments[i].RATING) { %>
                <%= comments[i].RATING %>/5 <br />
              <% } %>
              <%= comments[i].REVIEW %>
            </li>
          <% } %>
      </ul>
  </div>
</div>