     <div class="box box-recommendations">
            <% if (authUser && authUser == user.USERNAME.toLowerCase()) { %>
                <div class="list-recommendations">
                    <h3>Recommendations</h3>
                    <ul>
                    <% if (recommendedFriends.length > 0) { %>
                    <h4>Recommended Friends</h4>
                    <% } %>
                    <% for (var i = 0; i < recommendedFriends.length; i++) { %>
                        <li><a href="/users/<%=recommendedFriends[i]%>"><%=recommendedFriends[i]%></a></li>
                    <% } %>
                    </ul>
                    <ul>
                    <% if (recommendedDestinations.length > 0) { %>
                    <h4>Recommended Desinations</h4>
                    <% } %>
                    <% for (var i = 0; i < recommendedDestinations.length; i++) { %>
                        <li><a href="/destinations/<%=recommendedDestinations[i].DID%>"><%=recommendedDestinations[i].NAME%></a></li>
                    <% } %>
                    </ul>

                </div>
            <% } %>
        </div>
 

