<div class="box box-photos">
    <div class="list-photos">
        <h3>Photos</h3>
        <div class="row photo-row">
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
        </div>
        <div class="row photo-row">
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
        </div>
         <div class="row photo-row">
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
            <div class="col-md-3">
                <img src="images/filler.jpg"/>
            </div>
        </div>

    </div>
</div>


