<html lang="en">
    <head>
        <title>EIGHT</title>
        <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="css/public.css" media="all" rel="stylesheet" type="text/css"/>

        <link rel="shortcut icon" href="images/eight_logo_favicon.ico">

    </head>
    <body>
            <div class="navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="images/just_eight_logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-float-left eight">
                        <li class="navbar-float-left"><strong>EIGHT</strong></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-float-right">
                    <li><a href="#about">About EIGHT</a></li>
                    <% if (typeof(loggedIn) == "undefined") { %>
                        <li class="active"><a href="#">Create Account</a></li>
                    <% } else { %>
                        <li><a href="#about">Logout</a></li>
                    <% } %>
                    
                </div><!--/.nav-collapse -->
            </div>
