<html lang="en">
    <head>
        <title>Tripster</title>
        <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
        <link href="css/public.css" media="all" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="page-header">
            <div id="img">
                <a href="index.php"><img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg"></a>
            </div>

        </div>

        <!--    <script data-main="/js/main" src="/js/libs/require.js"></script> -->

    </body>

</html>

