<% include templates/header %>

    <!--    <script data-main="/js/main" src="/js/libs/require.js"></script> -->

    <div class="eight-logo">
        <img src="images/eight_logo.png"/>

        <p>EIGHT was created by Max Scheiber, Brian Shi, and Rigel Swavely. It
        was inspired by the preachings of Brian Shi at the CIS 110-120-121 TA
        BYO, also known as the BYOpocalypse.</p>
    </div>
<% include templates/footer %>
