<% include templates/header %>
<div class="overall">
    <div class="row box-row">
        <div class="col-md-4">
            <% include templates/box-photo %>
       </div>
        <div class="col-md-4">
          <% include templates/box-trips %>
       </div>
       <div class="col-md-4">
          <div class="box box-friends">
            <div class="list-friends">
                <h3>Visitors</h3>
                <ul>
                  <% for (var i = 0; i < visitors.length; i++) { %>
                      <li><div><img src="/images/filler.jpg"/><a href="/users/<%= visitors[i] %>">
                        <strong><%= visitors[i] %></strong></a></div></li>
                    <% } %>
                </ul>
            </div>
        </div>
       </div>
    </div>

</div>
<% include templates/footer %>
