<% include templates/header %>
<div class="overall">
    <div class="row box-row">
        <div class="col-md-4">
            <% include templates/box-destination %>
       </div>
        <div class="col-md-4">
          <% include templates/box-trips.ejs %>
       </div>
       <div class="col-md-4">
       </div>
    </div>

</div>
<% include templates/footer %>
