<% include templates/header %>

    <!--    <script data-main="/js/main" src="/js/libs/require.js"></script> -->

    <div class="eight-logo">
        <h2>New Destination</h2>
    </div>
    <div class="enter-credentials">
        <form role="form" action="/destinations" method="post">
            <div>
    			<label for="id-destination-name">Name: </label>
    			<input id="id-destination-name" name="name" type="text" maxlength="64">
    		</div>

            <div class="submit-credentials">
    			<a id="submit-credentials"><button type="submit" name="submit" value="Submit">Submit</button></a>
    		</div>
        </form>
    </div>
<% include templates/footer %>
