<% include templates/header %>

    <!--    <script data-main="/js/main" src="/js/libs/require.js"></script> -->

    
    <div class="eight-logo">
        <h2>Leave Comment</h2>
    </div>
    <div class="enter-credentials">
        <form role="form" action="/photos/<%= id %>/comment" method="post">
            <div>
                <label for="id-rating">Rate: </label>
                <select name="rating">
                    <option value="">N/A</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div>
                <label for="id-comment">Comment: </label>
                <textarea id="id-comment" rows="4" cols="50" name="review"></textarea>
            </div>

            <div class="submit-credentials">
    			<a id="submit-credentials"><button type="submit" name="submit" value="Submit">Submit</button></a>
    		</div>
        </form>
    </div>
<% include templates/footer %>
