<% include templates/header %>
<div class="overall">
    <div class="row box-row">
        <div class="col-md-4">
            <% include templates/box-photo %>
       </div>
       <div class="col-md-8">
          <div class="box box-comments">
            <div class="list-comments">
                <ul>
                    <li>
                        <h3>Rigel</h3>
                        <p>YO! Sick photo</p>
                    </li>
                    <li>
                        <h3>Max</h3>
                        <p>Yeah, so handsome!</p>
                    </li>
                </ul>
            </div>
        </div>
       </div>
    </div>

</div>
<% include templates/footer %>
