<% include templates/header %>
<div class="overall">
    <div class="row">
        <div class="col-md-8">
            <ul>
              <% for (var i = 0; i < results.length; i++) { %>
                <li><a href="/<% if (results[i].TYPE==='Trip') { %>trips<% } if (results[i].TYPE==='Destination') {%>destinations<% } %>/<%= results[i].MID %> "><%= results[i].NAME %></a></li>
              <% } %>
            </ul>
       </div>
    </div>

</div>
<% include templates/footer %>
