<% include templates/header %>
<div class="overall">
    <div class="row box-row">
        <div class="col-md-4">
            <% include templates/box-portrait %>
       </div>
        <div class="col-md-4">
            <% include templates/box-friends %>
       </div>
       <div class="col-md-4">
           <% include templates/box-recommendations %>
       </div>
    </div> 
    <div class="row box-row">
        <div class="col-md-4">
           <% include templates/box-trips %>
        </div>
        <div class="col-md-4">
           <% include templates/box-photos %>
        </div>
        <div class="col-md-4">
           <% include templates/box-destinations %>
        </div>
    </div> 

</div>
<% include templates/footer %>
