<% include templates/header %>

    <div class="row">
        <div class="col-md-4">
            <div class="box box-portrait">
                <img src="images/filler.jpg"/>
                <h3>Brian Shi</h3>
                <p>Joined December 5th, 2014</p>
                <div class="actions">
                    <h4>Actions</h4>
                    <ul>
                        <li><a href="">Create Trip</a></li>
                        <li><a href="">Create Destination</a></li>
                        <li><a href="">Create Album</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-friends">
                <div class="list-friends">
                    <h3>Friends</h3>
                    <ul>
                        <li><div><img src="images/filler.jpg"/><a href="">Rigel Swavely (Became Friends 12-12-2014)</a></div></li>
                        <li><div><img src="images/filler.jpg"/><a href="">Max Scheiber (Became Friends 11-3-2013)</a></div></li>
                        <li><div><img src="images/filler.jpg"/><a href="">Professor Tannan (Became Friends 3-24-2014)</a></div></li>
                        <li><div><img src="images/filler.jpg"/><a href="">Gus Wynn (Became Friends 6-24-1999)</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-recommendations">
                <div class="list-recommendations">
                    <h3>Recommendations</h3>
                    <ul>
                        <li class="group-recommendations">
                            <div class="recommended-person">
                                <img src="images/filler.jpg"/><p><a href="">Rigel Swavely</a> recommends a trip that includes the following destinations:</p>
                            </div>
                            <div class="recommended-destinations-list">
                                <ul>
                                    <li><a href="">San Francisco</a></li>
                                    <li><a href="">New York</a></li>
                                    <li><a href="">Pittsburgh</a></li>
                                    <li><a href="">New Mexico</a></li>
                                    <li><a href="">Niagara Falls</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="recommended-person">
                                <img src="images/filler.jpg"/><p><a href="">Max Scheiber</a> recommends a trip that includes the following destinations:</p>
                            </div>
                            <div class="recommended-destinations-list">
                                <ul>
                                    <li><a href="">San Francisco</a></li>
                                    <li><a href="">New York</a></li>
                                    <li><a href="">Pittsburgh</a></li>
                                    <li><a href="">New Mexico</a></li>
                                    <li><a href="">Niagara Falls</a></li>
                                </ul>
                            </div>
                        </li>
                                
                    </ul>
                </div>
            </div>
 
        </div>
    </div> 
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div> 

<% include templates/footer %>
