<% include templates/header %>

<div class="overall">
    <div class="display-videos">
        <h2>Your Videos</h2>
        <ul>
            <% if (typeof(videos) != "undefined") { %>
                <% for (var i = 0; i < videos.length; i++) { %>
                   <iframe width="854" height="510" src="<%= videos[i].url %>" frameborder="0" allowfullscreen></iframe> 
                <% } %>
            <% } %>
        </ul>
        <div>
            <h3>Add Video</h3>
            <form role="form" action="/videos/" method="post">
                <label for="input-video-url">Enter URL</label>
                <input id="input-video-url" type="text" name="url"></input>
                <button type="submit" name="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include templates/footer %>
